fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6
mistralai==1.0.0
PyPDF2==3.0.1
python-dotenv==1.0.0
aiofiles==23.2.1
requests==2.31.0
#httpx==0.25.2
geoip2==4.7.0
dnspython==2.8.0
pymysql
DBUtils
pdf2image==1.17.0
Pillow==12.1.0
rapidfuzz
email-validator
weasyprint==62.3
